<!-- ko if: coupons().length -->
<div class="coupons">
    <div class="coupons__title">Cash coupons</div>
    <div class="coupons__text">Redeem your points for Cash Coupons to use on your next hotel booking!</div>
    <div class="coupons__list">
        <div class="owl-carousel owl-theme" data-bind="foreach: coupons">
            <div class="coupons__item">
                <img class="coupons__item-image" data-bind="attr: { src: thumbs.url_250x250 }"></img>
                <div class="coupons__item-info">
                    <div class="coupons__item-title" data-bind="text: name"></div>
                    <div class="coupons__item-text">for
                        <span data-bind="text: points"></span> points</div><br>
                    <a href="javascript:void(0)" class="btn" data-bind="click: $parent.redeemCoupon">Redeem Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->