<div class="dialog__shadow">
    <div class="dialog">
        <div class="dialog__header">Member details</div>
        <div class="dialog__body">
            <form action="" class="dialog__form">
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input id="email" type="text" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="first_name">Name*</label>
                    <input id="first_name" class="span_1-2" type="text" placeholder="First Name">
                    <input id="last_name" class="span_1-2" type="text" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label class="span_2-5">
                        <span>Date of birth</span>
                        <input type="text" placeholder="MM / DD / YYYY">
                    </label>
                    <label class="span_3-5">
                        <span>Mobile Phone Number</span>
                        <input type="text" placeholder="">
                    </label>
                </div>
                <div class="form-group half-margin">
                    <label for="address_1">Address</label>
                    <input id="address_1" type="text" placeholder="Address line 1">
                </div>
                <div class="form-group half-margin">
                    <input type="text" placeholder="Address line 2">
                </div>
                <div class="form-group half-margin">
                    <input type="text" class="span_2-5" placeholder="State/Province">
                    <input type="text" class="span_3-5" placeholder="City">
                </div>
                <div class="form-group half-margin">
                    <input type="text" class="span_2-5" placeholder="Postcode*">
                    <label for="country">Country
                        <select name="" id="country">
                            <option value="1">Russia</option>
                            <option value="2">Bangladesh</option>
                        </select>
                    </label>
                </div>
                <button type="submit" class="btn">Save</button>
            </form>
        </div>
    </div>
</div>