<div class="history">
    <div class="history__title">4 Nights Collected</div>
    <div class="history__pager">
        <div class="history__pager-pos"> 10 of 100 items</div>
        <div class="history__pager-controls">
            <div class="history__pager-to-left"></div>
            <div class="history__pager-to-right"></div>            
            <div class="history__pager-page"><a href="#">1</a></div>
            <div class="history__pager-page active"><a href="#">2</a></div>
            <div class="history__pager-page"><a href="#">3</a></div>
            <div class="history__pager-page"><a href="#">4</a></div>
            <div class="history__pager-page"><a href="#">5</a></div>
        </div>    
    </div>
    <div class="history__table">
        <div class="history__item">
            <div class="history__item-date">Sep 15, 2017</div>
            <div class="history__item-name">Econo Lodge Times Square</div>
            <div class="history__item-price">$195</div>
            <div class="history__item-points">195 pts</div>
        </div>
    </div>
</div>