<div class="history">
    <!-- ko if: type == 'purchase' -->
    <div class="history__title">
        <span data-bind="text: collected"></span> <span data-bind="text: texts() && texts().history.nights_collected"></span></div>
    <div class="history__pager" data-bind="visible: purchase_history().length,if: purchase_history().length">
        <div class="history__pager-pos">
            <span data-bind="text: (page() * 10) + listCurrentPage().length "></span> of
            <span data-bind="text: purchase_history().length"></span> <span data-bind="text: texts() && texts().history.purchased_items"></span></div>
        <div class="history__pager-controls" data-bind="visible: pageCount() > 1">
            <div class="history__pager-to-left" data-bind="click: prevPage, visible: page() > 0"></div>
            <div class="history__pager-to-right" data-bind="click: nextPage, visible: page() + 1 < pageCount()"></div>
            <!-- ko foreach: ko.utils.range(1, pageCount()) -->
            <div class="history__pager-page" data-bind="
                css: { '__sailplay-active': $data == $parent.page() + 1 }">
                <a href="#" data-bind="text: $data, click: $parent.setPage.bind($parent, $data)"></a>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="history__item-text" data-bind="visible: !purchase_history().length, text: texts() && texts().history.no_purchases">You have no purchases</div>
    <div class="history__table" data-bind="foreach: listCurrentPage()">
        <div class="history__item">
            <div class="history__item-date" data-bind="dateText: action_date"></div>
            <a class="history__item-name" data-bind="text: $parent.getName($data), attr: {href: $parent.getLink($data)}">Econo Lodge Times Square</a>
            <div class="history__item-price">$
                <span data-bind="text: price"></span>
            </div>
            <div class="history__item-points">
                <span data-bind="text: points_delta"></span> <span data-bind="text: $parent.texts() && $parent.texts().history.pts"></span></span></div>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: type == 'activity' -->
    <div class="history__title" data-bind="texts() && texts().history.activity_title"></div>
    <div class="history__table activity">
        <div class="history__item" data-bind="if: registered">
            <div class="history__item-indicator red"></div>
            <div class="history__item-date" data-bind="dateText: registered()"></div>
            <div class="history__item-text" data-bind="html: texts() && texts().history.thanks"></div>
        </div>
        <!-- ko foreach: listCurrentPage() -->
        <div class="history__item">
            <div class="history__item-indicator"></div>
            <div class="history__item-date" data-bind="dateText: action_date"></div>
            <div class="history__item-text" data-bind="html: $parent.getTexts($data)"></div>
        </div>
        <!-- /ko -->
    </div>
    <div class="history__table activity" data-bind="visible: pageCount() > 1 && pageCount() <= limitPerPage() && !allLoaded()">
        <a href="javascript:void(0)" class="btn gray wide" data-bind="click: loadAll">
            <i class="icon-arrow"></i> <span data-bind="text: texts() && texts().history.load_button"></span></a>
    </div>
    <!-- /ko -->
</div>