<div class="container">
    <div class="grid">
        <div class="grid__left">
            <sailplay-profile></sailplay-profile>
            <sailplay-status-bar></sailplay-status-bar>
            <sailplay-banner>
                <div class="banner__title">
                    Want More Information?
                </div>
                <div class="banner__text">
                    Get the scoop on everything you need to know about HotelsOne Rewards, including <a href="#">how it works</a> and the benefits of being a
                    <a href="#">Silver</a> and <a href="#">Gold</a> member.
                </div>
            </sailplay-banner>
            <sailplay-history></sailplay-history>
        </div>
        <div class="grid__right">
            <sailplay-status></sailplay-status>
            <sailplay-questions></sailplay-questions>
            <sailplay-banner params="image: '/src/assets/eiffel.png'">
                <div class="banner__title">
                    Save up to 50% with Insider Prices
                </div>
                <div class="banner__text">
                    Unlock instant savings with up to
                    <strong>50% off</strong> hotels with member only Insider Prices.
                </div>
                <div class="banner__insider-logo">
                    insider price
                </div>
            </sailplay-banner>
            <sailplay-banner>
                <div class="banner__title center">
                    More Ways To Earn
                </div>
                <img src="/src/assets/facebook.png" alt="" class="banner__image">
                <div class="banner__text center">
                    Earn
                    <strong>Bonus Points</strong> when you complete a few simple actions.
                </div>
                <div class="center">
                    <a href="" class="btn">View All Quests</a>
                </div>
            </sailplay-banner>
        </div>
    </div>
</div>