<div class="profile">
    <div class="profile__name" data-bind="text: user().name"></div>
    <div class="profile__title">
        <div class="brand">hotelsone</div>
        <div class="rewards">rewards</div>
    </div>
</div>
<div class="profile__info">
    <div class="points">
        <span class="value" data-bind="text: user_points().confirmed">0</span>
        <span class="text">hotelsone rewards points</span>
    </div>
    <a href="#" class="details" data-bind="click: openProfile">Member details</a>
</div>