<div class="container" data-bind="visible: user">
    <div class="profile profile--round" data-bind="if: user">
        <div class="profile__name">
            Hey <span data-bind="text: user().user.first_name"></span>!
            <div class="profile__descr">
                    <!-- <span data-bind="text: $parent.config().quest_description"></span>! -->
                    <span data-bind="html: texts() && texts().quest_page.title">You deserve to be rewarded. Learn how Hotelsone Rewards can help you do it in 3 simple steps: <strong>Stay, Earn, Save</strong></span>
                </div>
        </div>
        <div class="profile__title profile__title-top135">
            <div class="brand" data-bind="text: texts().profile.brand">hotelsone</div>
            <div class="rewards" data-bind="text: texts().profile.rewards">rewards</div>
        </div>
    </div>
    <sailplay-banner>
        <div class="grid">
            <div class="grid__1-3">
                <img class="banner__image big" src="~assets/moon.png"></img>
            </div>
            <div class="grid__2-3">
                <div class="banner__title" data-bind="text: $parent.texts() && $parent.texts().quest_page.title_1">1. Stay</div>
                <div class="banner__text">
                    <ul class="banner__list" data-bind="foreach: $parent.texts() && $parent.texts().quest_page.keys_1">
                        <li data-bind="html: $data">
                            <strong>Login:</strong> Always log in before you book to ensure you can collect your points. You can
                            check out your upcoming, cancelled and completed booking anytime
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </sailplay-banner>
    <sailplay-banner>
        <div class="grid">
            <div class="grid__1-3">
                <img class="banner__image big" src="~assets/cash.png"></img>
            </div>
            <div class="grid__2-3">
                <!-- ko if: $parent.config() -->                                        
                <div class="banner__title" data-bind="text: $parent.texts() && $parent.texts().quest_page.title_2">2. Earn</div>
                <div class="banner__text">
                    <ul class="banner__list" data-bind="foreach: $parent.texts() && $parent.texts().quest_page.keys_2">
                        <li data-bind="html: $data">
                            <strong>Check Out:</strong> Once you’ve completed your stay and checked out, your well earned points
                            will automatically be added onto your account.automatically be added onto your account.</li>
                    </ul>
                </div>
                <!-- /ko -->                
            </div>
        </div>
    </sailplay-banner>
    <sailplay-banner>
        <div class="grid">
            <div class="grid__1-3">
                <img class="banner__image big" src="~assets/suit.png"></img>
            </div>
            <div class="grid__2-3">
                <div class="banner__title" data-bind="text: $parent.texts() && $parent.texts().quest_page.title_3">3. Save</div>
                <div class="banner__text">
                    <ul class="banner__list" data-bind="foreach: $parent.texts() && $parent.texts().quest_page.keys_3">
                        <li data-bind="html: $data">
                            <strong>Cash Coupons:</strong> Here comes the fun bit. Use your points to redeem cash coupons to save
                            on your next booking through
                            <a href="http://www.hotelsone.com">HotelsOne.com!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </sailplay-banner>
    <div class="grid">
        <div class="grid__2-4">
            <sailplay-banner>
                <div class="grid">
                    <div class="grid__1-4">
                        <img class="banner__image small" src="~assets/house.png"></img>
                    </div>
                    <div class="grid__3-4">
                        <div class="banner__text big" data-bind="html: $parent.texts() && $parent.texts().quest_page.house_big_text">
                            265,000 Eligible Hotels
                        </div>
                        <br>
                        <div class="banner__text small" data-bind="html: $parent.texts() && $parent.texts().quest_page.house_small_text">
                            Members can collect points on more than 265,000 eligible hotels in over 195 countries.
                        </div>
                    </div>
                </div>
            </sailplay-banner>
        </div>
        <div class="grid__2-4">
            <sailplay-banner>
                <div class="grid">
                    <div class="grid__1-4">
                        <img class="banner__image small" data-bind="attr: { src: $parent.texts() && $parent.texts().brand_red }"></img>
                    </div>
                    <div class="grid__3-4">
                        <div class="banner__text big" data-bind="html: $parent.texts() && $parent.texts().quest_page.keyhole_text_1">
                            Insider Prices
                        </div>
                        <br>
                        <div class="banner__text small" data-bind="html: $parent.texts() && $parent.texts().quest_page.keyhole_text_2">
                            Unlock instant savings with up to 50% off hotels with member-only Insider Prices.
                        </div>
                    </div>
                </div>
            </sailplay-banner>
        </div>
    </div>
    <sailplay-profile style="display: none"></sailplay-profile>
    <sailplay-coupons params="{ no_owl: true }"></sailplay-coupons>
    <sailplay-quests></sailplay-quests>
    <div class="grid">
        <div class="grid__1-3">
            <sailplay-banner>
                <!-- ko if: $parent.config() -->                
                <div class="banner__title small" data-bind="html: $parent.texts() && $parent.texts().quest_page.more_rewards_title">More rewards, sooner</div>
                <div class="banner__text" data-bind="html: $parent.texts() && $parent.texts().quest_page.more_rewards_text">
                    Travel a lot? Earn an upgrade to
                    <strong class="red">Hotelsone Rewards</strong>
                    <a href="#">Silver</a> or
                    <a href="#">Gold</a> membership and earn your points faster.
                </div>
                <!-- /ko -->
            </sailplay-banner>
        </div>
        <div class="grid__2-3">
            <sailplay-questions></sailplay-questions>
        </div>
    </div>
</div>