<div class="questions">
    <div class="questions__title">Got Questions?</div>
    <ol class="questions__list">
        <li>
            <a href="#">How do i earn points?</a>
        </li>
        <li>
            <a href="#">When are my points awarded?</a>
        </li>
        <li>
            <a href="#">How do I redeem points?</a>
        </li>
        <li>
            <a href="#">What is my rewards details and loyalty status?</a>
        </li>
    </ol>
    <div class="questions__desc">
        For further information check out our
        <a href="#">FAQ’s page</a>
        page to find all the information you’ll need and more!
    </div>
</div>