<!-- ko if: user -->
<div class="status-bar">
    <div class="status-bar__title" data-bind="text: texts() && texts().status.your_status_progress">Your status progress</div>
    <div class="status-bar__text"><span data-bind="text: texts() && texts().status.since"></span>
        <span data-bind="text: since"></span>
    </div>
    <div class="status-bar__hint arrow_pos_1">
        <div class="status-bar__collected">
            <span class="value" data-bind="text: collected"></span>&nbsp;<span data-bind="text: texts() && texts().status.nights_collected">nights collected</span></div>         
        <div class="status-bar__text" data-bind="html: user_status() && template()"></div>
    </div>
    <div class="status-bar__line" data-bind="foreach: ko.utils.range(1,25)">
        <div class="status-bar__night" data-bind="
            css: {
                '__sailplay-silver': $parent.currentStatusDetail() && $parent.currentStatusDetail().grade == 1,
                '__sailplay-gold': $parent.currentStatusDetail() && $parent.currentStatusDetail().grade == 2,
                '__sailplay-receive-status': $parent.isCheckpoint($data),
                '__sailplay-collected-night': $data <= $parent.collected_on_bar(),
                '__sailplay-collected-last': $data == $parent.collected_on_bar(),
            }"></div>
    </div>
</div>
<!-- /ko -->