<div class="dialog__shadow" data-bind="click: close">
    <div class="dialog">
        <div class="dialog__header">
            <a href="#" class="dialog__close" data-bind="click: close.bind($data, true)"></a>
            <!-- ko text: texts() && texts().subscribe_toggler[unsubscribed() ? 'unsubscribe_header' : 'subscribe_header'] --><!-- /ko -->
            </div>
        <div class="dialog__body">
            <div class="dialog__form center">
                <div class="dialog__title">
                    <div data-bind="text: texts() && texts().subscribe_toggler[unsubscribed() ? 'unsubscribe_title' : 'subscribe_title']"></div>

                </div>
                <div class="dialog__text">
                    <div><span data-bind="text: texts() && texts().subscribe_toggler[unsubscribed() ? 'unsubscribe_message' : 'subscribe_message']"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>