.banner {
    default-block()

    .center {
        text-align: center;
    }

    .btn {
        margin-top: vw(60px);
    }

    &__title {
        title();
    }

    &__text {
        text()
    }

    &__image {
        width: vw(236px);
        margin: 0 auto;
        display: block;
        margin-bottom: vw(64px);
    }

    &__insider-logo {
        margin-top: vw(80px);
        background: url("~assets/keyhole.png");
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
        font-size: vw(48px);
        font-weight: 700;
        padding-left: vw(72px);
    }
}