.banner {
    default-block()
    clearfix()

    .center {
        text-align: center;
    }

    .btn {
        margin-top: vw(60px);
    }

    &__title {
        title();
        &.small {
            font-size: vw(42px);
        }
    }

    &__text {
        text()
        &.small {
            font-size: vw(28px);
        }
        &.big {
            font-size: vw(42px);
        }
    }

    &__image {
        width: vw(236px);
        margin: 0 auto;
        display: block;
        margin-bottom: vw(64px);

        &.small {
            width: vw(150px);
            margin-bottom: 0;
        }
    }

    &__list {
        margin-left: vw(36px);
        li {
            margin-bottom: 1.5em;
        }
    }

    &__insider-logo {
        margin-top: vw(80px);
        background: url("~assets/keyhole.png");
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
        font-size: vw(48px);
        font-weight: 700;
        padding-left: vw(72px);
    }
}