title() {
    font-size: vw(48px);
    font-weight: 700;
    color: light-red;
    margin-bottom: 1em;
}

text() {
    font-size: vw(32px);
    color: #666;

    a {
        font-weight: 700;
        color: link;
    }
}