.coupons {
    default-block();

    .owl-native {
        display: flex;
        justify-content: space-around;        
        background: default;
        .coupons__item {
            flex-direction: column;
            position: relative;
            height: auto;
            box-sizing: border-box;
            &:last-of-type:before {
                content: none;
            }
            &:before {
                content: '';
                width: 1px;
                height: vw(250px);
                position: absolute;
                background: #e0e0e0;
                right: 0;
                top: 25%;
            }

            &-title {
                text();
                display: inline;
            }
            &-text {
                text();
                display: inline-block;
                margin-top: vw(32px);
                margin-bottom: vw(42px);
            }
            
            &-info {
                text-align: center;
            }

            &-image {
                width: 100% !important;
                object-fit: contain;
                height: auto;
            }
        }
    }

    &__title {
        title();
    }

    &__text {
        text();
        margin-bottom: vw(64px);
    }

    &__list {
        background: white;        
        text-align: center;
        position: relative;

        .owl-next, .owl-prev {
            z-index: 100;
            size(vw(60px), vw(100px));
            margin-top: vw(-50px);
            background: rgba(0, 0, 0, 0.2);

            &:after {
                content: '';
                display: block;
                size(100%);
                background: url('~assets/arrow.svg') no-repeat center;
                background-size: vw(30px);
            }
        }

        .owl-prev {
            absolute: left top 50%;
            border-radius: right 10px;

            &:after {
                transform: rotateZ(90deg);
            }
        }

        .owl-next {
            absolute: right top 50%;
            border-radius: left 10px;

            &:after {
                transform: rotateZ(-90deg);
            }
        }

        .owl-dots {
            background: white;
            padding: vw(20px) 0;
        }
        .owl-dot {
            size(vw(32px))
            border: 1px solid border;
            margin: 0 vw(5px)
            display: inline-block;
            border-radius: 50%;

            &[class*="active"] {
                background: #a8a19f;
            }
        }
    }

    &__item {
        clearfix();

        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // padding: 0 vw(60px);
        height: vw(400px);

        backface-visibility: hidden;
        transform: translateZ(0) scale(1.0, 1.0);
        img {
            width: 50% !important;
            object-fit: contain;
            display: inline-block !important;
        }

        &-text {
            text();
        }
        &-title {
            title();
            margin-bottom: vw(16px);
            font-size: vw(40px);
        }
    }
}