[aria-hidden="true"]  { display: none; }
[aria-hidden="false"] { display: block; }

.dialog {
    width: vw(900px);
    margin: vw(100px) auto;
    border-radius: 10px;
    z-index: 1002;
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0;
    transform: translateY(-50px);

    &__header {
        height: vw(64px);
        font-size: vw(48px);
        line-height: vw(82px);
        font-weight: 600;
        padding: vw(50px) vw(100px);
        border-radius: top 10px;
        color: white;
        background-color: light-red;
        position: relative;

        &:after {
            background-image: url('~assets/keyhole.png');
            background-size: contain;
            background-repeat: no-repeat;
            content: '';
            margin-right: vw(24px);
            float: left;
            margin-top: vw(-10px);
            size(vw(86px));
        }
    }

    &__body {
        border-radius: bottom 10px;
        background: white;
        min-height: 100px;
    }

    &__shadow {
        opacity: 0;
        transition: opacity 0.2s;
        fixed: top left bottom right;
        background: rgba(0, 0, 0, 0.6);
        overflow-y: scroll;
    }

    &__form {
        padding: vw(100px) vw(117px);
        clearfix();

        &-side {
            column(1/2, $gutter: 10);
            position: relative;

            &:first-of-type:after {
                content: '';
                background: black;
                display: block;
                absolute: top right -12%;
                height: 100%;
                width: 1px;
            }
        }

        input[type='text'] {
            border: none;
            outline: none;
            border-bottom: 1px solid #666;
            width: 100%;
            font-size: vw(24px);
        }

        label {
            text();
            display: block;
            margin-bottom: vw(18px);
        }

        .form-group {
            margin-bottom: vw(64px);
            clearfix();

            &.half-margin {
                margin-bottom: vw(32px);
            }

            label span {
                display: block;
                margin-bottom: vw(18px);
            }

            .span_1-2 {
                column(1/2, $gutter: 10);
                margin-bottom: 0;
            }

            .span_2-5 {
                column(2/5, $gutter: 10);
                margin-bottom: 0;
            }
        
            .span_3-5 {
                column(3/5, $gutter: 10);
                margin-bottom: 0;                
            }
        }
    }
}