.history {
    default-block();

    &__title {
        title();
    }

    &__pager {
        clearfix();
        text();
        margin-bottom: vw(32px);

        &-pos {
            float: left;
        }

        &-controls {
            float: right;
        }

        &-to-left, &-to-right {
            width: 0;
            height: 0;
            border-style: solid;
            margin-top: vw(9px);
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

        &-to-left {
            float: left;
            margin-right: vw(18px);
            border-width: vw(10px) vw(17.3px) vw(10px) 0;
            border-color: transparent #666 transparent transparent;
        }

        &-to-right {
            float: right;
            margin-left: vw(18px);
            border-width: vw(10px) 0 vw(10px) vw(17.3px);
            border-color: transparent transparent transparent #666;
        }

        &-page {
            display: inline-block;

            &.active a {
                color: light-red;
                font-weight: 700;
            }

            a {
                text();
                font-weight: 400;
                text-decoration: none;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    &__table {
        background: white;

        &.activity {
            background: transparent;

            .btn {
                margin-top: vw(24px);
            }

            .history__item {
                border: none;
                padding: vw(24px) 0;
                display: block;
                position: relative;

                &-indicator {
                    float: left;
                }

                &-date {
                    float: left;
                    width: 30%;
                    margin-left: 1em;
                }

                &-text {
                    overflow: ellipsis;
                }

                &:last-of-type {
                    &:after {
                        content: none;
                    }
                }

                &:after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    left: 9px;
                    top: 30px;
                    background: #cecac9;
                }
            }
        }
    }

    &__item {
        // &:first-of-type {
        // .history__item-indicator:before {
        // content: none;
        // }
        // }

        // &:last-of-type {
        // .history__item-indicator:after {
        // content: none;
        // }
        // }
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: vw(40px) 0;
        border-bottom: 1px solid border;
        font-size: vw(32px);

        &:last-of-type {
            border: none;
        }

        &-indicator {
            position: relative;
            size(vw(36px));
            border: 1px solid border;
            border-radius: 50%;
            background: #f9f9f9;

            &.red {
                background: light-red;
            }

            &.gray {
                background: #9ba1a8;
            }

            &:after, &:before {
                background: border;
            }
        }

        &-text {
            text();
        }

        &-date {
            text();
        }

        &-name {
            cursor: pointer;
            color: link;
            width: 40%;
            overflow: ellipsis;
            text-decoration: none;
        }

        &-price {
            text();
        }

        &-points {
            font-weight: 700;
            color: light-red;
        }
    }
}