.questions {
    default-block();

    &__title {
        font-size: vw(42px);
        color: light-red;
        font-weight: 700;
        margin-bottom: vw(64px);
    }

    &__list {
        font-size: vw(32px);
        color: link;
        relative: left vw(32px);
        font-weight: 700;
        margin-bottom: vw(60px);

        a {
            color: inherit;
        }

        li {
            line-height: 1.5em;
        }
    }

    &__desc {
        font-size: vw(32px);
        color: #666;

        a {
            font-weight: 700;
            color: link;
        }
    }
}