.status {
    background: light-red;
    border-radius: 10px;
    height: vw(472px);
    width: 100%;
    margin-bottom: vw(64px);

    &__icon {
        width: vw(200px);
        display: block;
        padding-top: vw(88px);
        margin: 0 auto;
    }

    &__text {
        font-size: vw(32px);
        color: white;
        font-weight: 700;
        text-align: center;
        margin-top: vw(35px);
    }
}