.status {
    background: light-red;
    border-radius: 10px;
    height: vw(472px);
    width: 100%;
    margin-bottom: vw(64px);

    &__icon {
        width: vw(260px);
        display: block;
        padding-top: vw(88px);
        margin: 0 auto;
    }

    &__text {
        font-size: vw(32px);
        color: white;
        font-weight: 700;
        text-align: center;
        margin-top: vw(35px);
    }
}

.status-bar {
    default-block();

    &__title {
        title();
    }

    &__text {
        text();
    }

    &__collected {
        font-size: vw(32px);
        color: light-red;
        font-weight: 700;

        .value {
            font-size: vw(77px);
            font-weight: 400;
        }
    }

    &__line {
        margin-top: vw(32px);
        border-radius: 5px;
        border: 1px solid border;
        background-color: white;        
        height: vw(40px);
        width: auto;
        display: inline-block;
        overflow: hidden;
    }

    &__night {
        background-image: url('~assets/circle.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        float: left;
        size(vw(40px));

        &.collected-night {
            background-color: light-red;
            background-image: none;
            &.receive-status {
                background-image: url('~assets/circle-white.svg');                
            }
        }

        &.collected-last {
            border-radius: right 5px;
        }

        &.receive-status {
            margin-top: vw(-2px);
            size(vw(45px));
            background-size: cover;

            &:last-of-type {
                background-image: url('~assets/circle-gold.svg');                
            }
        }
    }

    &__hint {
        width: 80%;
        margin-top: vw(64px);
        padding: vw(30px) vw(38px);
        background: white;
        border-radius: 10px;
        border: 1px solid border;
        position: relative;

        &:before {
            content: '';
            size(vw(30px), vw(15px));
            background-image: url('~assets/triangle.svg');
            background-size: contain;
            display: block;
            absolute: bottom vw(-15px) left 50%;
        }

        &.arrow_pos_1:before {
            left: vw(167px);
        }

        &.arrow_pos_2:before {
            left: vw(200px);
        }

        &.arrow_pos_3:before {
            left: vw(300px);
        }
    }
}