.actions {
    &__list {
        display: flex;
        justify-content: space-around;
        padding: 0 40px;

        +below(700px) {
            flex-direction: column;
            padding: 0 20px

            .actions__item {
                flex: auto;
                margin: 0;
                margin-bottom: 1em;
            }
        }
    }

    &__item {
        cursor: pointer;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        height: 115px;
        flex: 1 0px;
        margin-right: 20px;
        display: flex;

        &:last-of-type {
            margin-right: 0;
        }

        &-active {
            background: #0f9675;
            color: white !important;
            
            .icon.poll {
                background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/5300112a69355e7a132ce214aa68d34a.svg) !important;
            }

            .icon.invite {
                background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/526950e1230ede71297c5109a6a730d5.svg) !important;
            }

            .icon.fb {
                background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/2172b0b38b6e0b578c4f884f40344491.svg) !important;
            }

            .icon.tw {
                background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/fefbcfbb9ae74d7f243fc714984eb784.svg) !important;
            }

            .actions__text-points {
                color: white !important;
            }
        }

        .icon {
            width: 38%;
            height: 43px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 50%;
            position: relative;
            top: 50%;
            margin-top: -21px;
        }
    }

    &__header {
        +below(700px) {
            margin: 80px 40px 20px 20px
        }
        font-family: 'Changa One';
        font-size: 48px;
        font-weight: 300;
        margin: 80px 40px 20px 40px;
        +below(550px) {
            font-size: 24px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Knockout";
        font-size: 20px;
        padding-right: 28px;
        box-sizing: border-box;

        +below(700px) {
            font-size: 22px;
        }

        &-points {
            color: #0f9675;
            font-weight: 600;
            +below(700px) {
                font-family: "Changa One";
                font-size: 26px;
                font-weight: 400;
            }
        }
    }
}

.poll {
    &__question {
        border-bottom: 1px solid #f1f1f1;
        display: block !important;
        margin-bottom: 3em;

        &:last-of-type {
            border: 0;
        }
    }

    &__choices {
        margin-top: 3em;
    }

    &__choice {
        margin-bottom: 1.5em;
        font-size: 22px;
        line-height: 25px;

        &:last-of-type {
            margin-bottom: 3em;
        }
    }
}

.refer-input {
    background: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
    width: 50%;
    border: 0;
    font-size: 24px;
    margin-right: 24px;
    margin-top: 2em;
    box-sizing: border-box;

    +below(750px) {
        width: 100%
        margin-bottom: 1em;
    }

    +below(550px) {
        font-size: 14px;
    }
}