.actions {
    &__list {
        display: flex;
        justify-content: space-around;
        padding: 0 40px;
    }

    &__item {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        height: 115px;
        flex: 1 0px;
        margin-right: 20px;
        display: flex

        &:last-of-type {
            margin-right: 0;
        }

        .icon {
            width: 38%;
            height: 43px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 50%;
            position: relative;
            top: 50%;
            margin-top: -21px;
        }
    }

    &__header {
        margin-top: 80px;
        margin-left: 40px;
        font-family: 'Roboto';
        font-size: 48px;
        font-weight: 300;
    }
}