.history {
    &__title {
        font-family: 'Changa One';
        font-size: 48px;
        margin: 80px 0 20px 40px;
    }

    &__header {
        clearfix();        
        background: #e6e6e6;
        color: black;
        padding: 10px;
    }

    &__table {
        padding: 0 40px;
    }

    &__column {
        float: left;

        &:nth-child(0) {
            width: 15%;
        }

        &:nth-child(1) {
            width: 15%;
        }

        &:nth-child(2) {
            width: 15%;
        }

        &:nth-child(3) {
            width: 15%;
        }

        &:nth-child(4) {
            width: 15%;
        }

        &:nth-child(5) {
            width: 15%;
        }
    }
}