.history {
    margin-bottom: 40px;
    &__title {
        font-family: 'Changa One';
        font-size: 48px;
        margin: 80px 40px 20px 40px;
        +below(550px) {
            font-size: 24px;
        }

        +below(700px) {
            margin: 80px 40px 20px 20px
        }
    }

    &__header {
        clearfix();        
        background: #e6e6e6;
        color: black;
        padding: 10px;
    }

    &__table {
        padding: 0 40px;
        +below(700px) {
            padding: 0 20px
        }
    }

    &__points {
        color: #0f9675;
    }

    &__column {
        float: left;
        font-family: 'Knockout';
        font-size: 18px;
        padding: 10px;
        box-sizing: border-box;
        +below(550px) {
            display: none;
        }

        &-50 {
            display: none;
            +below(550px) {
                display: block !important;
                width: 50% !important;
            }
        }

        &:nth-child(3) {
            width: 16.66%;
        }

        &:nth-child(4) {
            width: 22.66%;
        }

        &:nth-child(5) {
            width: 16.66%;
        }

        &:nth-child(6) {
            width: 16.66%;
        }

        &:nth-child(7) {
            width: 16.66%;
        }

        &:nth-child(8) {
            width: 10%;
        }

    }

    &__row {
        border: 1px solid #e6e6e6;
        border-bottom-color: transparent;
        padding: 10px;
        clearfix();

        &:last-child {
            border-bottom-color: #e6e6e6;
        }
    }
}