.status-bar {
    +below(700px) {
        margin: 50px 20px 0;
    }
    margin: 50px 40px 0;

    &__legend {
        max-width: 800px;
        position: relative;
        left: 10px;
        top: 30px;
        margin: 0 auto;

        &-item {
            text-align: right;
            font-family: 'Knockout';
            font-size: 18px;
            width: 'calc(25% - %spx)' % (1);
            position: relative;
            float: left;
            color: #d6d4d6;
        }

        &-item-active {
            color: #bf151f;
        }
    }

    &__header {
        font-family: 'Knockout';
        text-align: center;
        font-size: 38px;
        +below(550px) {
            font-size: 26px;
        }
    }

    &__line {
        max-width: 800px;
        border: 1px solid #e1dfe1;
        height: 35px;
        background-color: #f2f0f2;
        margin: 70px auto 0;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        perspective: 1px;
    }

    &__fill {
        background-color: #bf151f;
        height: 100%;
        position: absolute;
    }

    &__section {
        width: 'calc(25% - %spx)' % (1);
        height: 100%;
        border-right: 1px solid #e1dfe1;
        float: left;

        &:last-of-type {
            border: none;
        }
    }
}
