@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Changa+One');

@font-face {
    font-family: "Knockout";
    src: url(../../assets/fonts/knockout.woff);
}

@import './status-bar'
@import './rewards'
@import './actions'
@import './popup'

.container {
    font-family: "Roboto";
}

.btn {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    padding: 15px 40px
    background: #0f9675;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

*[class="__sailplay-owl-prev disabled"] {
    display: none;
}

*[class="__sailplay-owl-next disabled"] {
    display: none;
}