<div data-sailplay-profile data-sailplay-history data-sailplay-badges style="margin: 20px;" data-ng-show="user()" data-ng-cloak>

  <div class="bns_wrapper">
    <div class="bns_top_main clearfix">
      <h2 class="bns_header">Бонусная программа</h2>

      <h3 class="bns_subheader">Тренеруйтесь, выполняйте задания, копите баллы и меняйте их на подарки</h3>

      <div class="bns_profile_info bns_profile_info_women">
        <div class="bpi_left">
          <img data-ng-src="{{ user().user.pic | sailplay_pic }}" class="bns_p_ava" alt="">
          <span class="bns_p_hi">Здравствуйте,</span>
          <span class="bns_p_name">{{ user().user.name || 'Имя не указано' }}</span>
          <span class="bns_p_stat" data-ng-if="user().user_status && user().user_status.name">Ваш статус: <strong>{{ user().user_status.name }}</strong></span>
          <span class="bns_p_tonext" data-ng-if="get_next()">До статуса <strong>{{ get_next().name }}</strong> осталась {{ get_offset() }} {{ get_offset() | sailplay_pluralize:'балл,балла,баллов' }}</span>
        </div>
        <div class="bpi_center">
          <span class="bps_c_head">Последняя активность</span>

          <div class="bns_sm_hist">
            <div class="bns_sm_h_item" data-ng-repeat="hist_item in history() | limitTo:4">
              <span class="bshi_date">{{ hist_item.action_date | date:'d MMMM yyyy' }}</span>
              <span class="bshi_action">{{ hist_item | history_item }}</span>
              <span class="bshi_bal">{{ hist_item.points_delta || 0 }} {{ hist_item.points_delta | sailplay_pluralize:'балл,балла,баллов' }}</span>
            </div>
          </div>
          <a href="" class="bns_hist" data-ng-click="show_history = true;">История заказов</a>
        </div>
        <div class="bpi_right">
				<span class="bns_bal_n">
					{{ user().user_points.confirmed }}
					<strong class="bns_bal_n_text">{{ user().user_points.confirmed | sailplay_pluralize:'бонусный балл,бонусных балла,бонусных баллов' }}</strong>
				</span>
        </div>
      </div>
      <div class="bns_line_main">
        <div class="bns_line">
          <div class="bns_line_path" data-ng-style="{ width: get_progress() + '%' }"></div>
          <div class="bns_point bns_point{{ $index+1 }}" data-ng-class="{ act: badge.is_received }" data-point="0" data-ng-repeat="badge in badges().multilevel_badges[0]">
            <img data-ng-src="{{ 'dist/img/line_point' + ($index+1) + '.png' }}" alt="">
            <span class="bns_point_text">{{ badge.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bns_status clearfix">
      <h2 class="bns_header">Статусы и задания</h2>

      <h3 class="bns_subheader">Выполняйте задания, чтобы открыть новый статус и заработать баллы</h3>

      <div class="bns_status_main">
        <div class="bns_status_item" data-ng-repeat="badge in badges().multilevel_badges[0]">
          <div class="bns_si_img"><img width="150px" data-ng-src="{{ badge.thumbs.url_250x250 | sailplay_pic }}" alt=""></div>
          <span class="bns_status_text">{{ badge.name }}</span>
        </div>
      </div>
      <div class="bns_status_action row" data-sailplay-actions >

        <div class="col_5" data-ng-show="show_profile_action">
          <div class="bns_st_item bns_st_item_edit_prof ">
            <div class="action_info">
              <img src="dist/img/action1.png" alt="">
              <span class="bns_action_name">{{ locale.actions.system.fillProfile.name }}</span>
              <span class="bns_action_bal">
                40 {{ 40 | sailplay_pluralize:'балл,балла,баллов' }}
              </span>
            </div>

            <div class="action_tools">
              <div class="bns_earn_points" data-ng-click="fill_profile()">{{ locale.perform }}</div>
            </div>
          </div>
        </div>

        <div class="col_5" data-ng-repeat="action in actions().actions">
          <div class="bns_st_item bns_st_item_edit_prof ">
            <div class="action_info">
              <img data-ng-src="{{ action_data(action).pic }}" alt="">
              <span class="bns_action_name">{{ action_data(action).name }}</span>
            <span class="bns_action_bal">
              {{ action.points }} {{ action.points | sailplay_pluralize:'балл,балла,баллов' }}
            </span>
            </div>

            <div class="action_tools">
              <div class="bns_earn_points" data-sailplay-action data-action="action" data-text="Выполнить" data-styles="{{ config.social_styles }}">{{ locale.perform }}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="bns_gift clearfix">
      <h2 class="bns_header">Подарки</h2>

      <h3 class="bns_subheader">На которые вы можете потратить накопленные баллы</h3>

      <div class="bns_gift_main" data-sailplay-gifts>
        <div class="bns_gift_item" data-ng-repeat="gift in gifts()">
          <img data-ng-src="{{ gift.thumbs.url_250x250 | sailplay_pic }}" alt="">

          <div class="bns_gift_item_right">
					<span class="bns_gift_name">{{ gift.name }}</span>
            <span class="bns_gift_bal">{{ gift.points }} {{ gift.points | sailplay_pluralize:'балл,балла,баллов' }}</span>
            <a href="" class="bns_get_gift" data-ng-click="gift_purchase(gift)">Получить подарок</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="bns_overlay bns_overlay_hist" data-ng-show="show_history" data-overlay-click="show_history = false;">
    <div class="bns_overlay_iner">
      <a href="" class="bns_close" data-overlay-click="show_history = false;"></a>
      <table class="bns_hist_table">
        <h3>История заказов</h3>
        <tbody>
        <tr data-dir-paginate="item in history() | itemsPerPage:6" data-pagination-id="history_pages">
          <td>
            <span>{{ item.action_date | date:'d MMMM yyyy' }}</span>
          </td>
          <td>
            <span><b>{{ item | history_item }}</b></span>
          </td>
          <td>
            <span>{{ item.points_delta || 0 }} {{ item.points_delta | sailplay_pluralize:'балл,балла,баллов' }}</span>
          </td>
        </tr>
        </tbody>
      </table>

      <a href="" class="bns_hist_back" data-overlay-click="show_history = false;">Назад</a>

      <dir-pagination-controls data-max-size="7" data-pagination-id="history_pages" data-template-url="/html/ui/ui.pagination.controls.html" data-auto-hide="true"></dir-pagination-controls>

    </div>
  </div>

  <div class="bns_overlay bns_overlay_edit_prof" data-ng-show="show_profile_info" data-overlay-click="show_profile_info = false;">
    <div class="bns_overlay_iner">
      <a href="" class="bns_close" data-ng-click="show_profile_info = false;"></a>

      <h3>Заполнить профиль</h3>

      <form class="bns_prof_form_main" data-fill-profile data-ng-submit="submit_profile($parent.close_profile)">
        <div class="bns_input_block clearfix odd">
          <label>Фамилия</label>
          <input type="text" data-ng-model="profile_form.user.lastName">
        </div>
        <div class="bns_input_block clearfix">
          <label>Контактный телефон</label>
          <input type="text" data-ng-model="profile_form.user.addPhone">
        </div>
        <div class="bns_input_block clearfix odd">
          <label>Имя</label>
          <input type="text" data-ng-model="profile_form.user.firstName">
        </div>
        <div class="bns_input_block clearfix">
          <label>E-mail</label>
          <input type="text" data-ng-model="profile_form.user.addEmail">
        </div>
        <div class="bns_input_block clearfix odd">
          <label>Отчество</label>
          <input type="text" data-ng-model="profile_form.user.middleName">
        </div>
        <div class="bns_input_block clearfix">
          <label>Адрес проживания</label>
          <input type="text" data-ng-model="profile_form.custom_vars['Адрес']">
        </div>
        <div class="bns_input_block clearfix odd">
          <label>Как вы узнали о «5LB»?</label>
          <select data-ng-model="profile_form.tags[1][0]" data-ng-options="value.value as value.key for value in values[1]">
            <option value="">Не выбрано</option>
          </select>
        </div>
        <div class="bns_input_block clearfix">
          <label>Как давно вы клиент «5LB»?</label>
          <select data-ng-model="profile_form.tags[3][0]" data-ng-options="value.value as value.key for value in values[3]">
            <option value="">Не выбрано</option>
          </select>
        </div>
        <div class="bns_input_block clearfix full_width">
          <label>Каким видом спорта вы занимаетесь?</label>
          <!--<select data-ng-model="profile_form.tags[5][0]" data-ng-options="value.value as value.key for value in values[5]">-->
            <!--<option value="">Не выбрано</option>-->
          <!--</select>-->
          <div class="bns_check" data-ng-repeat="value in values[5]">
            <input data-ng-init="inner_value = false;" data-ng-model="inner_value" type="checkbox" name="Q9" id="{{ 'sport_' + $index }}" data-ng-change="toggle_tag(profile_form.tags[5], value.value)">
            <label for="{{ 'sport_' + $index }}">{{ value.key }}</label>
          </div>
        </div>

        <div class="bns_input_block clearfix full_width">
          <label>Какие цели преследуете при покупке спортивного питания?</label>
          <div class="bns_check" data-ng-repeat="value in values[9]">
            <input data-ng-init="inner_value = false;" data-ng-model="inner_value" type="checkbox" name="Q9" id="{{ 'target_' + $index }}" data-ng-change="toggle_tag(profile_form.tags[9], value.value)">
            <label for="{{ 'target_' + $index }}">{{ value.key }}</label>
          </div>

        </div>

        <div class="bns_input_block clearfix full_width">
          <label>Укажите события, информацию о которых хотели бы получать:</label>
          <div class="bns_check" data-ng-repeat="value in values[13]">
            <input data-ng-init="inner_value = false;" data-ng-model="inner_value" type="checkbox" name="Q13" id="{{ 'subscribe_' + $index }}" data-ng-change="toggle_tag(profile_form.tags[13], value.value)">
            <label for="{{ 'subscribe_' + $index }}">{{ value.key }}</label>
          </div>

        </div>

        <div class="bns_input_block clearfix full_width">
          <label>Что более важно при выборе спортивного питания?</label>
          <div class="bns_check" data-ng-repeat="value in values[11]">
            <input data-ng-init="inner_value = false;" data-ng-model="inner_value" type="checkbox" name="Q11" id="{{ 'important_' + $index }}" data-ng-change="toggle_tag(profile_form.tags[11], value.value)">
            <label for="{{ 'important_' + $index }}">{{ value.key }}</label>
          </div>
        </div>

        <div class="bns_input_block clearfix full_width">
          <label>Каким способом Вам удобно получать от нас информацию?</label>
          <div class="bns_check" data-ng-repeat="value in values[15]">
            <input data-ng-init="inner_value = false;" data-ng-model="inner_value" type="checkbox" name="Q15" id="{{ 'sub_' + $index }}" data-ng-change="toggle_tag(profile_form.tags[15], value.value)">
            <label for="{{ 'sub_' + $index }}">{{ value.key }}</label>
          </div>
        </div>

        <div class="bns_input_block clearfix odd">
          <label>Ваш профессиональный уровень:</label>
          <select data-ng-model="profile_form.tags[7][0]" data-ng-options="value.value as value.key for value in values[7]">
            <option value="">Не выбрано</option>
          </select>
        </div>

        <div class="bns_input_block clearfix">
          <label>Есть ли у вас дети?</label>
          <select data-ng-model="profile_form.tags[17][0]" data-ng-options="value.value as value.key for value in values[17]">
            <option value="">Не выбрано</option>
          </select>
        </div>

        <div class="bns_btn_done clearfix">
          <button type="submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>

  <div class="bns_overlay bns_overlay_program_pit" data-ng-show="show_program" data-overlay-click="show_program = false;">
    <div class="bns_overlay_iner">
      <a href="#" class="bns_close"></a>

      <h3>Заполнить программу питания</h3>
      <h4>Страница 1/5</h4>

      <div class="bns_prof_form_main">
        <div class="bns_qust">
          <h5>Какие бренды спортивного питания вы предпочитаете?</h5>
          <h6>Можно выбирать несколько вариантов</h6>

          <div class="bns_input_block">
            <select>
              <option value="0"></option>
              <option value="0"> сферу работы</option>
              <option value="0"> сферу работы</option>
            </select>
            <select>
              <option value="0"></option>
              <option value="0"> сферу работы</option>
              <option value="0"> сферу работы</option>
            </select>
            <a href="#" class="bns_add_more_pit">Добавить еще варианты</a>
          </div>
        </div>
        <div class="bns_qust bns_qust_mt">
          <h5>Кого класса вы принимаете спортивного питания?</h5>

          <div class="bns_check">
            <input type="radio" name="pit" id="pit1">
            <label for="pit1">Протеин</label>
          </div>
          <div class="bns_check">
            <input type="radio" name="pit" id="pit2">
            <label for="pit2">BCAA</label>
          </div>
          <div class="bns_check">
            <input type="radio" name="pit" id="pit3">
            <label for="pit3">L-карнитин</label>
          </div>
          <div class="bns_check">
            <input type="radio" name="pit" id="pit4">
            <label for="pit4">Жиросжигающие</label>
          </div>
          <div class="bns_check">
            <input type="radio" name="pit" id="pit5">
            <label for="pit5">Гейнер</label>
          </div>
          <div class="bns_check">
            <input type="radio" name="pit" id="pit6">
            <label for="pit6">Креатин</label>
          </div>
          <div class="bns_check">
            <input type="radio" name="pit" id="pit7">
            <label for="pit7">Предтренировочные<br>
              комплексы</label>
          </div>
          <div class="bns_check">
            <input type="radio" name="pit" id="pit8">
            <label for="pit8">Свой вариант ответа</label>
          </div>
          <textarea placeholder="Введите свой вариант ответа"></textarea>
        </div>

        <div class="bns_btn_done">
          <a href="#">Отправить</a>
        </div>
      </div>
    </div>
  </div>

  <notifier></notifier>

</div>