<script type="text/template" id="koHistory">
    <div class="bns_info_hist_container" data-bind="foreach: history().slice(0, 3)">
        <div class="bns_info_hist_item">
            <span class="bns_date" data-bind="text: $parent.formatDate(action_date)"></span>
                <!-- ko if: action == 'badge' -->
                <!-- ko if: $data.points_delta -->
                <span class="bns_name">Получена награда</span>      
                <!-- /ko -->
                <!-- ko if: !$data.points_delta -->
                <span class="bns_name">Получен статус</span>      
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: action == 'gift_purchase' -->
                <span class="bns_name">Получен подарок</span>
                <!-- /ko -->
                <!-- ko if: action == 'sharing' -->
                <!-- ko if: social_action == 'partner_page' -->
                <span class="bns_name">Рассказал о нас в ВК</span>                            
                <!-- /ko -->
                <!-- ko if: social_action == 'like' -->
                <span class="bns_name">Вступил в нашу группу</span>                            
                <!-- /ko -->           
                <!-- ko if: social_action == 'purchase' -->
                <span class="bns_name">Поделился покупкой в ВК</span>                            
                <!-- /ko -->   
                <!-- /ko -->
                <!-- ko if: action == 'purchase' -->
                <span class="bns_name" data-bind="text: name"></span>  
                <!-- /ko -->
                <!-- ko if: action == 'extra' -->
                <span class="bns_name" data-bind="text: name"></span>  
                <!-- /ko -->
            <span class="bns_point"><span data-bind="text: $data.points_delta && formatLargeNumber($parent.checkPoints(points_delta)) || '-'"></span></span>
        </div>
    </div>
    <a href="#" data-bind="click: popupVm.openHistory, visible: history().length > 0" class="bns_open_hist">Вся история</a>
    <div data-bind="visible: (next_status_point() - purchases_sum() * 1) > 0" class="bns_info_bon_bal" style="float: left; width: 100%; margin-top: 6px;">
        <span class="bns_info_bal_num" style="font-size: 18px; margin: 0; color: #00a6e1; font-style: italic" data-bind="text: formatLargeNumber(next_status_point() - purchases_sum())"></span>
        <span class="bns_info_bal_text" style="font-size: 16px; color: #ccc; font-weight: 300">р. до следующего статуса</span>
    </div>
    
    <div data-bind="component: {
        name: 'ko-popup', 
        params: { data: popupVm }
        }">
        <h3>Вся история</h3>
        <table class="bns_hist_table">
            <tbody data-bind="foreach: history().slice(current_page() * 6, (current_page() * 6) + 6)">
                <tr>
                    <td>
                        <span data-bind="text: $parent.formatDate(action_date)"></span>
                    </td>
                    <td>
                        <!-- ko if: action == 'badge' -->
                            <!-- ko if: $data.points_delta -->
                            <span><b>Получена награда</b></span>      
                            <span class="bns_hist_gift_name blue"><b data-bind="text: name"></b></span>                                                                      
                            <!-- /ko -->
                            <!-- ko if: !$data.points_delta -->
                            <span><b>Получен статус</b></span>      
                            <span class="bns_hist_gift_name blue"><b data-bind="text: name"></b></span>                                
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: action == 'gift_purchase' -->
                        <span><b>Получен подарок </b></span>
                        <span class="bns_hist_gift_name blue"><b data-bind="text: name"></b></span>                                                        
                        <!-- /ko -->
                        <!-- ko if: action == 'sharing' -->
                            <!-- ko if: social_action == 'partner_page' -->
                            <span><b>Рассказал о нас в ВК</b></span>                            
                            <!-- /ko -->
                            <!-- ko if: social_action == 'like' -->
                            <span><b>Вступил в нашу группу</b></span>                            
                            <!-- /ko -->           
                            <!-- ko if: social_action == 'purchase' -->
                            <span><b>Поделился покупкой в ВК</b></span>                            
                            <!-- /ko -->   
                        <!-- /ko -->
                        <!-- ko if: action == 'purchase' -->
                        <span><b data-bind="text: name"></b></span>  
                        <span class="bns_hist_gift_name blue">
                            <a class="bns_hist_gift_link" href="javascript:void(0)" data-bind="click: $parent.getPurchaseDetails"><b data-bind="text: formatLargeNumber(price)" style="display: inline; padding-left: 0; padding-right: 0"></b> рублей</a>                            
                            <div class="bns_hist_purchase_detail" data-bind="visible: details_opened, foreach: data_text() && data_text().cart.cart.positions">
                                <hr>                                
                                <div class="p_name" data-bind="text: product.name"></div>
                                <div>
                                    кол-во: <span data-bind="text: quantity && parseFloat(quantity).toFixed(2)"></span>
                                    цена: <span data-bind="text: formatLargeNumber(price)"></span>
                                    бонусов <span data-bind="visible: points > 0">начислено: </span><span data-bind="text: formatLargeNumber(points)"></span><span data-bind="visible: discount_points"> списано: <span data-bind="text: discount_points"></span></span>
                                </div>
                            </div>
                        </span>                                                                                        
                        <!-- /ko -->
                        <!-- ko if: action == 'extra' -->
                        <span><b data-bind="text: name"></b></span>  
                        <!-- /ko -->                        
                    </td>
                    <td>
                        <!-- ko if: $data.debited_points_delta > 0 --><span data-bind="text: $data.debited_points_delta && '-' + formatLargeNumber($data.debited_points_delta)" style="color:red; display: inline"></span>&nbsp;<!-- /ko --><span data-bind="text: $data.points_delta && formatLargeNumber($parent.checkPoints(points_delta)) || '-'" style="display: inline"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="bns_hist_pager" data-bind="foreach: ko.utils.range(1, pages)">
            <a href="#" data-bind="click: $parent.setPage.bind($data, $index), text: $index() + 1, css: { act: $parent.current_page() == $index() }"></a>
        </div>
        <a href="#" class="bns_hist_next" data-bind="click: nextPage, visible: current_page() < (pages() - 1)">Следующая страница</a>
        </div>
</script>