<script type="text/template" id="koProfile">
    <span class="bns_info_name">
        <span data-bind="text: data() && (data().user.first_name() || 'Неизвестный')"></span>
        <span data-bind="text: data() && data().user.last_name"></span>
    </span>
    <a href="#" class="bns_edit_profile" data-bind="click: popupVm.openProfile">Редактировать профиль</a>
    <div class="bns_info_bon_bal" id="bonuses"  data-bind="event: { mouseover: tooltipOpen, mouseout: tooltipClose }">
        <span class="bns_info_bal_num" data-bind="text: data() && formatLargeNumber(data().user_points.confirmed)"></span>
        <span class="bns_info_bal_text">бонусных<br>баллов</span>
    </div>
    <div class="bns_info_bon_bal">
        <span class="bns_info_bal_num" style="font-size: 18px; margin: 0" data-bind="text: data() && formatLargeNumber(data().user_points.unconfirmed)"></span>
        <span data-bind="component: 'ko-ub'">
        </span>
    </div>

    <div data-bind="component: {
        name: 'ko-popup', 
        params: { data: popupVm }
        }">
        <h3 data-bind="visible: !is_register()">Регистрация</h3>
        <h3 data-bind="visible: is_register()">Редактирование профиля<br><br></h3>
        <span class="bns_reg_gift" data-bind="visible: !is_register()">
            Получите 500 баллов,<br>пройдя быструю регистрацию
        </span>
        <!--
            <div class="bns_reg_step">
                <div class="bns_reg_step_item act"></div>
                <div class="bns_reg_step_item"></div>
            </div>
        -->
        <div class="bns_reg_step_block bns_reg_step1" data-bind="css: { act: step() == 1 }">
            <div class="bns_input_block">
                <input type="text" placeholder="Фамилия" data-bind="
                    value: getField('last_name'), 
                    css: { error: getField('last_name').isValid && !getField('last_name').isValid() } ">
            </div>
            <div class="bns_input_block">
                <input type="text" placeholder="Имя" data-bind="value: getField('first_name'), 
                    css: { error: getField('first_name').isValid && !getField('first_name').isValid() } ">
            </div>
            <div class="bns_input_block">
                <input type="text" placeholder="Отчество" data-bind="value: getField('middle_name'), 
                    css: { error: getField('middle_name').isValid && !getField('middle_name').isValid() } ">
            </div>
            <div class="bns_input_block bns_input_block_date">
                <label>День рождения</label>
                <input type="number" min="1" class="bns_input_block_d" placeholder="День" data-bind="value: getField('birth_day'), 
                    css: { 
                        disabled: getField('birth_disabled'),
                        error: getField('birth_day').isValid && !getField('birth_day').isValid() 
                    }">
                <div class="select-style bns_input_block_m" data-bind="
                    css: { 
                        disabled: getField('birth_disabled'),
                        selected: getField('birth_month') && getField('birth_month')() && getField('birth_month')().index > -1,
                        error: getField('birth_month').isValid && !getField('birth_month').isValid()               
                    }">
                    <select data-bind="
                        options: months,
                        optionsText: function(item) {
                            return item && item.name || ''
                        },
                        value: getField('birth_month')
                    "></select>
                </div>
                <input type="number" min="1900" max="3000" class="bns_input_block_y" placeholder="Год" data-bind="value: getField('birth_year'), 
                    css: { 
                        error: getField('birth_year').isValid && !getField('birth_year').isValid(),
                        disabled: getField('birth_disabled')
                    }">
            </div>
            <div class="bns_input_block">
                <input type="text" placeholder="Город" data-bind="value: getField('city')">
            </div>
            <div class="bns_input_block">
                <input type="text" placeholder="Адрес" data-bind="value: getField('address')">
            </div>
            <div class="bns_input_block">
                <a href="#" class="bns_btn" data-bind="click: next">Далее</a>
            </div>
        </div>
        <div class="bns_reg_step_block bns_reg_step2" data-bind="css: { act: step() == 2 }">
            <div class="bns_input_block">
                <label class="check_sports">Какими видами спорта вы занимаетесь? </label>
                <br><br>
                <!-- ko foreach: games -->
                <div class="bns_checkbox">
                    <input type="checkbox" data-bind="value: $data, checked: $parent.active_games, attr: { id: 'id' + $index() }">
                    <label data-bind="attr: { for: 'id' + $index() }, text: $data"></label>
                </div>
                <!-- /ko -->
                <input type="text" placeholder="Свой вариант" data-bind="value: getField('game_other')">
            </div>
            <div class="bns_input_block">
                <br><br>
                <label class="for_who">Вы покупаете</label>
                <br><br>
                <div class="bns_checkbox">
                    <input type="checkbox" id="rad5" value="Покупаю: Себе" data-bind="checked: for_who">
                    <label for="rad5">Себе</label>
                </div>
                <div class="bns_checkbox">
                    <input type="checkbox" id="rad6" value="Покупаю: Ребенку" data-bind="checked: for_who">
                    <label for="rad6">Ребенку</label>
                </div>
                <div class="bns_checkbox">
                    <input type="checkbox" id="rad7" value="Покупаю: В подарок" data-bind="checked: for_who">
                    <label for="rad7">В подарок</label>
                </div>
            </div>
            <div class="bns_input_block bns_input_block_date">
                <br><br>                
                <label>Дата рождения ребенка</label>
                <br><br>
                <div class="child-controls">
                    <div data-bind="foreach: child_array">
                        <div class="child-entry">
                            <input type="number" min="1" max="31" class="child_bday bns_input_block_d" placeholder="День" data-bind="value: child_bday">
                            <div class="select-style bns_input_block_m child_bmonth" data-bind="
                            css: { selected: child_bmonth }">
                                <select data-bind="
                                options: $parent.months,
                                optionsText: function(item) {
                                    return item && item.name || ''
                                },
                                value: child_bmonth
                                "></select>
                            </div>                    
                            <input type="number" min="1900" max="3000" class="bns_input_block_y child_byear" placeholder="Год" data-bind="value: child_byear">
                            <div data-bind="click: $parent.removeChildrenBDay" class="delete"></div>
                        </div>
                    </div> 
                    <div data-bind="click: addChildrenBDay" class="child-add-btn"><div class="plus-sign"></div>Добавить ещё</div>
                </div>
            </div>
            <div class="bns_input_block">
                <br><br>                
                <label class="check_training">Сколько времени в неделю вы уделяете тренировкам? </label>
                <br><br>
                <div class="bns_checkbox bns_checkbox_big">
                    <input type="radio" name="rad1" id="rad1" value="Тренировка: 1 раз в неделю или реже" data-bind="checked: getField('training')">
                    <label for="rad1">1 раз в неделю или реже</label>
                </div>
                <div class="bns_checkbox bns_checkbox_big">
                    <input type="radio" name="rad1" id="rad2" value="Тренировка: 2-3 раза в неделю" data-bind="checked: getField('training')">
                    <label for="rad2">2-3 раза в неделю</label>
                </div>
                <div class="bns_checkbox bns_checkbox_big">
                    <input type="radio" name="rad1" id="rad3" value="Тренировка: 4-5 раз в неделю" data-bind="checked: getField('training')">
                    <label for="rad3">4-5 раз в неделю</label>
                </div>
                <div class="bns_checkbox bns_checkbox_big">
                    <input type="radio" name="rad1" id="rad4" value="Тренировка: 6 и более раз в неделю" data-bind="checked: getField('training')">
                    <label for="rad4">6 и более раз в неделю</label>
                </div>
            </div>
            <div class="bns_input_block bns_input_block_cent">
                <a href="#" class="bns_btn left" data-bind="click: back">Назад</a>                
                <a href="#" class="bns_btn right" data-bind="click: is_register() ? finish : next, text: is_register() ? 'Сохранить' : 'Далее'">Далее</a>
            </div>
        </div>
        <div class="bns_reg_step_block bns_reg_step3" data-bind="css: { act: step() == 3 }">
            <div class="bns_text_block">
                Благодарим за вступление в команду СпортДепо!
                <br><br>
                Бонусы будут начислены в течение
                5 минут после регистрации и
                действительны в течение 90 дней
                с момента начисления
            </div>
            <div class="bns_input_block">
                <a href="#" class="bns_btn" data-bind="click: finish.bind($data, true)">Завершить</a>
            </div>
        </div>
        <div class="bns_reg_step_block bns_reg_step4" data-bind="css: { act: step() == 4 }">
            <div class="bns_text_block">
                Не все поля заполнены, баллы за заполнение профиля будут начислены после заполнения всех необходимых полей
            </div>
            <div class="bns_input_block">
                <a href="#" class="bns_btn" data-bind="click: finish.bind($data, true)">Завершить</a>
            </div>
        </div>
    </div>
</script>