<script type="text/template" id="koStatus">
    <div class="bns_info_mount" data-bind="foreach: statuses">
        <div class="bns_info_mount_item" data-bind="css: { act: $parent.isActive($data, $index) }">
            <img data-bind="attr: { src: thumbs.url_250x250 }" width="70" height="73" alt="">
            <div class="bns_info_mount_item_info">
                <span class="bns_info_mount_item_name" data-bind="text: name"></span>
                <span class="bns_info_mount_item_text" data-bind="text: descr"></span>
                <a href="#" class="bns_info_mount_item_linck" data-bind="click: $parent.popupVm.openStatus.bind($data, $data, $index, false)">Подробнее</a>
            </div>
        </div>
    </div>
    <div data-bind="component: {
    name: 'ko-popup', 
    params: { data: popupVm }
    }">
        <div class="bns_over_info_left">
            <img class="status_popup_msg" data-bind="attr: { src: status() && status().thumbs.url_250x250 }" width="173" height="177" alt="">
        </div>
        <div class="bns_over_info_right" data-bind="visible: renew() == false, html: messages[index()]"></div>
        <div class="bns_over_info_right" data-bind="visible: renew() == true, html: renew_messages[index()]"></div>        
    </div>
</script>