
@font-face {
  font-family: 'MrsEavesSmallCaps';
  src: url('MrsEavesSmallCaps.eot?#iefix') format('embedded-opentype'),  url('MrsEavesSmallCaps.woff') format('woff'), url('MrsEavesSmallCaps.ttf')  format('truetype'), url('MrsEavesSmallCaps.svg#MrsEavesSmallCaps') format('svg');
  font-weight: normal;
  font-style: normal;
}
