<div>
<div class="header">
    <a href="#/" class="logo"></a>
    <div class="top_line"></div>
    <div class="menu">
        <a href="#" data-ng-if="!item.hide" data-ng-repeat="item in model track by $index"
           data-ng-bind="item.label"
           data-ng-class="{type_active: item.active}"
           data-ng-href="[[ generateUrl(item.key) ]]"></a>
        <div class="user_menu">
            <a href="#" data-ng-click="exit();$event.preventDefault();">выход</a>
        </div>
    </div>
    <div class="sub_menu">
        <a href="#" data-ng-if="getSubmenu() && !item.hide" data-ng-repeat="item in getSubmenu()"
           data-ng-bind="item.label"
           data-ng-class="{type_active: item.active}"
           data-ng-href="[[ generateUrl(item.key) ]]"></a>
    </div>
</div>

<div class="newHeader _js_newHeader _hasPromoBar">
    <div class="newHeader__main">
        <div class="newHeader__main__in _js_newHeader__main__in">
            <span class="newHeader__burgerWrap _js_newHeader__burger">
                <span class="newHeader__burger"></span>
            </span>
            <a class="newHeader__logo" href="/"></a>
        </div>
    </div>
</div>

<div class="main-wrapper _js_main-wrapper">
    <div class="newMainMenu _js_newMainMenu _js_level_navigation menu_closed">
    <div class="newMainMenu__shadow" style="display: none;"></div>
    <span class="menu-close _js_menu-close"></span>
    <ul class="newMainMenu__list">
        
            <li class="newMainMenu__item _js_highlighted_item">
                <a class="newMainMenu__link linkMenu _js_mm_item" href="/shop/">Online-магазин</a>
                <div class="submenu">
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </li>
        
            <li class="newMainMenu__item _js_highlighted_item  _selected _active">
                <a class="newMainMenu__link linkMenu _js_mm_item" href="/shop/brands/">Бренды</a>
              </li>
        
            <li class="newMainMenu__item _js_highlighted_item">
                <a class="newMainMenu__link linkMenu _js_mm_item" href="/company/actions/">Акции</a>
            </li>
        
            <li class="newMainMenu__item _js_highlighted_item">
                <a class="newMainMenu__link linkMenu _js_mm_item" href="/company/news/">Новости</a>
            </li>
        
            <li class="newMainMenu__item _js_highlighted_item">
                <a class="newMainMenu__link linkMenu _js_mm_item" href="/company/shops/">Магазины</a>
            </li>
        
            <li class="newMainMenu__item _js_highlighted_item _noPointer">
                <a class="newMainMenu__link linkMenu _js_mm_item" href="#">Сервисы</a>
            </li>
        
            <li class="newMainMenu__item _js_highlighted_item _withSeparator">
                <a class="newMainMenu__link linkMenu _js_mm_item" href="/krasota-i-stil-zhizni/">Вдохновляйся</a>
            </li>
                    
                    
                    
                    
                    
                    
                
            </ul>
        </div>
    </div>
</div>