<div>
  <!--div class="header">
      <a href="#/" class="logo"></a>
      <div class="top_line"></div>
      <div class="menu">
          <a href="#" data-ng-if="!item.hide" data-ng-repeat="item in model track by $index"
             data-ng-bind="item.label"
             data-ng-class="{type_active: item.active}"
             data-ng-href="[[ generateUrl(item.key) ]]"></a>
          <div class="user_menu">
              <a href="#" data-ng-click="exit();$event.preventDefault();">выход</a>
          </div>
      </div>
      <div class="sub_menu">
          <a href="#" data-ng-if="getSubmenu() && !item.hide" data-ng-repeat="item in getSubmenu()"
             data-ng-bind="item.label"
             data-ng-class="{type_active: item.active}"
             data-ng-href="[[ generateUrl(item.key) ]]"></a>
      </div>
  </div-->

  <div class="main-wrapper _js_main-wrapper">
    <div class="newMainMenu _js_newMainMenu _js_level_navigation menu_closed">
      <div class="newMainMenu__shadow" style="display: none;"></div>
      <span class="menu-close _js_menu-close"></span>
      <ul class="newMainMenu__list">
      
        <li data-ng-if="!item.hide" data-ng-repeat="item in model track by $index" class="newMainMenu__item _js_highlighted_item">
        <a class="newMainMenu__link linkMenu _js_mm_item" href="/shop/" 
          data-ng-bind="item.label"
          data-ng-class="{type_active_header: item.active}"
          data-ng-href="[[ generateUrl(item.key) ]]"></a>
        </li>
        <li class="newMainMenu__item _js_highlighted_item _withSeparator">
          <a class="newMainMenu__link linkMenu _js_mm_item" data-ng-click="exit();$event.preventDefault();">ВЫХОД</a>
        </li>
      </ul>
    </div>
    <div class="sub_menu" data-ng-if="getSubmenu()">
      <a href="#" data-ng-if="!item.hide" data-ng-repeat="item in getSubmenu()"
        data-ng-bind="item.label"
        data-ng-class="{type_active: item.active}"
        data-ng-href="[[ generateUrl(item.key) ]]"></a>
    </div>
  </div>
</div>
