<div class="bns_quest" style="display: none;">
    <span class="bns_head_main">Задания</span>
    <span class="bns_sub_head_main">Обменивай баллы на подарки.</span>
    <div class="bns_quest_main js-tasks-cont"></div>
</div>
