<div class="bns_overlay_inner">
    <span class="bns_over_head">Выполнение задания</span>
    <div class="bns_over_gift">
        <img src="img/vk.png" alt="">
        <span class="bns_over_gift_name">Рассказать о покупке</span>
        <span class="bns_over_gift_bal">50 баллов</span>
        <span class="bns_over_gift_desc">Выполняй задания и зарабатывай баллы.</span>
    </div>
    <div class="bns_over_btn">
        <a href="#" class="bns_btn_left btn_close">Далее</a>
        <a href="#" class="bns_btn_right btn_close">Отмена</a>
    </div>
</div>
