<div class="history">
    <div class="history__title">YOUR REWARDS HISTORY</div>
    <div class="history__table">
        <div class="history__header">
            <div class="history__column">Date</div>
            <div class="history__column">Order Number</div>
            <div class="history__column">Status</div>
            <div class="history__column">Points</div>
            <div class="history__column">Expires</div>
            <div class="history__column">Balance</div>
        </div>
        <!-- ko foreach: history -->
        
        <!-- /ko -->
    </div>
</div>