<div class="status-bar">
    <div class="status-bar__header">
        You have earned 25 POINTS
    </div>
    <div class="status-bar__legend">
        <div class="status-bar__legend-item status-bar__legend-item-active">10</div>
        <div class="status-bar__legend-item">20</div>
        <div class="status-bar__legend-item">30</div>
        <div class="status-bar__legend-item">40+</div>
    </div>
    <div class="status-bar__line">
        <div class="status-bar__fill"></div>
        <div class="status-bar__section" points="10"></div>
        <div class="status-bar__section" points="20"></div>
        <div class="status-bar__section" points="30"></div>
        <div class="status-bar__section" points="40+"></div>
    </div>
</div>