<div data-ng-show="!currentTest">
    <h2 class="content_head">Получите больше бонусов</h2>
    <span class="text">Выполняйте задания и получайте за них бонусы, которые Вы можете потратить на привилегии! </span>
    <span class="text" data-ng-show="hidden"
          style="margin-top: 20px;">Подождите, пожалуйста, задания загружаются.</span>

    <!--<span class="text" data-ng-show="isEmpty() && !hidden" style="margin-top: 20px;">Список пуст</span>-->

    <div class="select_qust" data-ng-show="!hidden">

        <div class="sq_item" data-ng-repeat="action in actions()">
            <div class="sq_item_left">
                <span class="name" data-ng-bind="transformTitle(action)"></span>
                <span class="sum_bonus">[[ action.points ]] бонусов</span>
                <a href="#">
                        <span data-ng-if="action.socialType && user"
                              href="#" class="tasks-cell__iframe-wrap" data-sp-action="[[ action._actionId ]]"
                              data-styles="[[ css_link ]]">Получить</span>
                </a>
            </div>
            <div class="sq_item_right [[ getIcon(action) ]]"></div>
        </div>
        <div class="sq_item" data-ng-repeat="item in testsData" data-ng-if="!item.exist">
            <div class="sq_item_left">
                <span class="name" data-ng-bind="item.name"></span>
                <span class="sum_bonus">[[ item.points + ' ' + (plural(item.points, ['бонус', 'бонуса', 'бонусов']))]]</span>
                <a href="#" class="bg" data-ng-click="openTest(item);$event.preventDefault();">Пройти</a>
            </div>
            <div class="sq_item_right sir_qust"></div>
        </div>

    </div>
</div>
<test-cmp data-ng-show="currentTest" data-model="currentTest" data-on-finish="onFinish"></test-cmp>

<div class="overlay" data-ng-show="finish_test">
    <div class="overlay_iner overlay_enter">
        <h3 class="mt_n">Спасибо за Ваше участие! Бонусы будут начислены на Ваш счет!</h3>
        <a href="#" data-ng-click="$event.preventDefault();finish_test = false;" class="sorry_return">Назад</a>
    </div>
</div>