<div class="bns_gift" style="display: none;">
    <span class="bns_head_main">Подарки</span>
    <span class="bns_sub_head_main">Обменивай баллы на подарки.</span>
    <div class="bns_gift_slide js-gifts-cont"></div>
</div>
