form.form(data-bind="visible: !congrat()")
    .title(data-bind="text: title")
    .header
        .text(data-bind="text: title_step_1")
        .bottom_line
    div(data-bind="foreach: { data: mainFields, as: 'chunk' }, css: {'__sailplay-disabled': step() == 2}")
        .form_row(data-bind="foreach: { data: chunk, as: 'field' }")
            .form_group(data-bind="css: {'__sailplay-error': field.value.isValid && !field.value.isValid() && field.value.isModified()}")
                label(data-bind="text: field.name")
                div(data-bind="if: field.type == 'sex'")
                    .toggle_bar
                        input#toggle_male.toggle.toggle_left(name="toggle" type="radio" value="1" data-bind="checked: field.value")
                        label.btn(for="toggle_male") Male
                        input#toggle_female.toggle.toggle_right(name="toggle" type="radio" value="2" data-bind="checked: field.value")
                        label.btn(for="toggle_female") Female
                div(data-bind="if: ~(['sign_up_date', 'birthday'].indexOf(field.type))")
                    label.select(style="width: 28%")
                        div.select_value(data-bind="text: field.day")
                        select(data-bind="options: field.days, value: field.day, optionsCaption: 'Day'")
                        svg(viewBox="0 0 1000 1000")
                            path(fill="#898989" transform="rotate(90 500 500)" d="M767.9,499.9L291.6,10l-59.4,61.3l416.6,428.7L232.1,928.7l59.5,61.3L767.9,499.9z")
                    label.select(style="width: 40%")
                        span(data-bind="with: field.month")
                            div.select_value(data-bind="text: name")
                        select(data-bind="options: field.months, optionsText: 'name', value: field.month, optionsCaption: 'Month'")
                        svg(viewBox="0 0 1000 1000")
                            path(fill="#898989" transform="rotate(90 500 500)" d="M767.9,499.9L291.6,10l-59.4,61.3l416.6,428.7L232.1,928.7l59.5,61.3L767.9,499.9z")
                    label.select(style="width: 28%")
                        div.select_value(data-bind="text: field.year")
                        select(data-bind="options: field.years, value: field.year, optionsCaption: 'Year'")
                        svg(viewBox="0 0 1000 1000")
                            path(fill="#898989" transform="rotate(90 500 500)" d="M767.9,499.9L291.6,10l-59.4,61.3l416.6,428.7L232.1,928.7l59.5,61.3L767.9,499.9z")
 
                input(data-bind="value: field.value, visible: ['sex', 'birthday', 'sign_up_date'].indexOf(field.type) < 0")

    .header(data-bind="visible: step() == 2")
        .text(data-bind="text: title_step_2")
        .bottom_line
    div(data-bind="foreach: { data: secondaryFields, as: 'chunk' }, visible: step() == 2")
        .form_row(data-bind="foreach: { data: chunk, as: 'field' }")
            .form_group(data-bind="css: {'__sailplay-error': field.value.isValid && !field.value.isValid() && field.value.isModified()}")
                label(data-bind="text: field.name")
                div(data-bind="if: field.type == 'sex'")
                    .toggle_bar
                        input#toggle_male.toggle.toggle_left(name="toggle" type="radio" value="1" data-bind="checked: field.value")
                        label.btn(for="toggle_male") Male
                        input#toggle_female.toggle.toggle_right(name="toggle" type="radio" value="2" data-bind="checked: field.value")
                        label.btn(for="toggle_female") Female
                div(data-bind="if: ~(['sign_up_date', 'birthday'].indexOf(field.type))")
                    label.select(style="width: 28%")
                        div.select_value(data-bind="text: field.day")
                        select(data-bind="options: field.days, value: field.day, optionsCaption: 'Day'")
                        svg(viewBox="0 0 1000 1000")
                            path(fill="#898989" transform="rotate(90 500 500)" d="M767.9,499.9L291.6,10l-59.4,61.3l416.6,428.7L232.1,928.7l59.5,61.3L767.9,499.9z")
                    label.select(style="width: 40%")
                        span(data-bind="with: field.month")
                            div.select_value(data-bind="text: name")
                        select(data-bind="options: field.months, optionsText: 'name', value: field.month, optionsCaption: 'Month'")
                        svg(viewBox="0 0 1000 1000")
                            path(fill="#898989" transform="rotate(90 500 500)" d="M767.9,499.9L291.6,10l-59.4,61.3l416.6,428.7L232.1,928.7l59.5,61.3L767.9,499.9z")
                    label.select(style="width: 28%")
                        div.select_value(data-bind="text: field.year")
                        select(data-bind="options: field.years, value: field.year, optionsCaption: 'Year'")
                        svg(viewBox="0 0 1000 1000")
                            path(fill="#898989" transform="rotate(90 500 500)" d="M767.9,499.9L291.6,10l-59.4,61.3l416.6,428.7L232.1,928.7l59.5,61.3L767.9,499.9z")
 
                input(data-bind="value: field.value, visible: ['sex', 'birthday', 'sign_up_date'].indexOf(field.type) < 0")  


    .form_row(data-bind="visible: sms_opt_on")
        .form_group.full(data-bind="css: {'__sailplay-error': sms_opt.isValid && !sms_opt.isValid() && sms_opt.isModified()}")
            input.input_checkbox(type="checkbox", id="sms_opt", data-bind="checked: sms_opt")
            label(for="sms_opt", data-bind="text: sms_opt_text")

    .form_row(data-bind="visible: email_opt_on")
        .form_group.full(data-bind="css: {'__sailplay-error': !email_opt.isValid() && email_opt.isModified()}")
            input.input_checkbox(type="checkbox", id="email_opt", data-bind="checked: email_opt")
            label(for="email_opt", data-bind="text: email_opt_text")

    a.btn(href="javascript:void(0)", data-bind="click: submit, text: btn_text, css: {'__sailplay-disabled': in_progress }")
    div.agree
        span(data-bind="text: user_agreement_line_1")
        a(data-bind="text: user_agreement_link, attr: { href: user_agreement_link_href }")
        br
        span(data-bind="text: user_agreement_line_2")

.congrat(data-bind="visible: congrat")
    .form
        .ib-50
            .title(data-bind="text: thank_title")
            .description(data-bind="text: thank_description")
            a.btn(data-bind="text: thank_button, attr: { href: thank_link_href }")
        div.last_img(data-bind=`style: { backgroundImage: 'url(' + thank_image() + ')' }`)
        img.tablet.last_img_tablet(data-bind="attr: { src: thank_image }")