<div class="sp_cmn-breadcr" data-ng-if="1 < pages.length || !autoHide">
  <div class="sp_cmn-breadcr__inner">
    <a class="sp_cmn-breadcr__arrow this-left" data-ng-if="directionLinks" data-ng-class="{ disabled : pagination.current == 1 }" href="" data-ng-click="setCurrent(pagination.current - 1)"></a>
    <a class="sp_cmn-breadcr__arrow this-right" data-ng-if="directionLinks" data-ng-class="{ disabled : pagination.current == pagination.last }" href="" data-ng-click="setCurrent(pagination.current + 1)"></a>

    <a class="sp_cmn-breadcr__itm" data-ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" data-ng-class="{ 'this-active' : pagination.current == pageNumber, disabled : pageNumber == '...' }" href="" data-ng-click="setCurrent(pageNumber)">1</a>

  </div>
</div>